
@{
    ViewBag.Title = "IndexReport";
}


<h2>Vistas de Reportes</h2>
<br>
<a href="~/Reportes/RangoFecha">Reporte del rango de fechas de registro de pacientes</a>
<br />
<br>
<a href="~/Reportes/ReporteBuscarDoctor">Citas atendidas por un doctor</a>
<br />
<br>
<a href="~/Reportes/ReporteDiaMesAño">Reporte por dia,mes y año</a>
<br />
<br >
<a href="~/Reportes/ReporteEstadoCita">Reportes de las citas, dependiendo a su estado</a>
<br />
<br>
<a href="~/Reportes/ReporteEstadoCuentaParticular">Reporte de un estado de cuenta en particular</a>
<br />
<br>
<a href="~/Reportes/ReporteEstadoDeCuenta">Reporte de un estado de cuenta</a>
<br />
<br>
<a href="~/Reportes/ReportePacienteParticular">Reporte de un paciente en particular, dependiendo a un tipo de documento</a>
<br />
<br>
<a href="~/Reportes/ReportePacienteTop">Top de pacientes con mayores citas</a>
<br />
<br>
<a href="~/Reportes/ReporteRangoCitas">Reporte del Rango de fechas de registro de Citas</a>
<br />
<br>
<a href="~/Reportes/ReporteMesAño">Reporte por mes y año</a>
<br />
<br>
<a href="~/Reportes/ReporteAño">Reporte de año</a>