
@{
    ViewBag.Title = "Reporte De Producto";
}

<h2>ReporteDeProducto</h2>
@using (Html.BeginForm("ReporteProducto", "Reportes"))
{
    <input type="submit" value="Reporte Producto" class="btn btn-primary" />

}
