
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/main.css">
    <title>Error</title>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries-->
    <!--if lt IE 9
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    -->
</head>
<body>
    <div class="page-error">
        <h1><i class="fa fa-exclamation-circle"></i> Error de Correo</h1>
        <p>Usted debe confirmar su correo electronico!!</p>
        <p><a href="javascript:window.history.back();">Ir a la página anterior</a></p>
    </div>
</body>

</html>


<scripts>
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/plugins/pace.min.js"></script>
    <script src="~/Scripts/main.js"></script>
</scripts>


@*@{
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Error</title>
    </head>
    <body>
        <div>
        </div>
    </body>
    </html>*@
