
@{
    var errorMsj = ViewBag.error;
}

<div class="container-fluid">
    <h1>Error</h1>
    <hr />
    <h2 class="text-danger">@errorMsj</h2>
<p class="text-danger">Por favor contacte con soporte al número al siguiente número: 999 999 999.</p>
</div>
